# Ignore node_modules directory
.env
.env.local
.DS_Store
**/.DS_Store
node_modules/
**/node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
